.rectangle{
    z-index:1;    
    background-color: rgba(184, 241, 255, 0.5);
    border-radius:40px;
    border: none;

    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding:20px;
    width:40vw;
    height: 45vh;

    position:relative;
    padding-top: 10vh;
    justify-content:flex-start;

    backdrop-filter: blur(10px);  /*zamuti pozadinu*/
    -webkit-backdrop-filter: blur(10px);  /*odmuti sve oko okvira s tekstom*/

}

.rectangle p{
    background-color: transparent;
    font-weight: bold;
    color:white;    
}

.rectangle p.LOGIN{
    position:absolute;
    top:0vh;
    left:50%;
    transform:translateX(-50%);
}

.register-step-content, 
.register-step-content1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    width:25vw;
    height:40vh;
} 

.rectangle form{
    background-color: transparent;
    width: 50%;
}

/*animacija*/
 .register-step-content, .register-step-content1 { transform: scale(0.8); opacity: 0; animation: zoomIn 0.7s forwards; }
@keyframes zoomIn { to { transform: scale(1); opacity: 1; } } 
