.register-auth-choice {   
    display: flex;   
    flex-direction: column;   
    align-items: center;   
    width: 100%;   
    background-color: transparent; 
}

.register-step-content p{
    font-weight: 400;
    font-size: 120%;
}

.submit-btn{
    background-color: rgba(79, 48, 255, 0.7);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    font-size: 1.1rem; 
    cursor:pointer;
}

.separator {     
    display: flex;     
    align-items: center;     
    justify-content: center;     
    text-align: center;     
    width: 80%;
    color: white;     
    opacity: 0.8;     
    margin: 1.5rem 0 1.5rem;     
    position: relative;
}


.separator::before, 
.separator::after {     
    content: "";     
    flex: 1;     
    height: 1px;     
    background: rgba(255, 255, 255, 0.4); 
}


.separator span {     
    margin: 0 1rem;     
    font-size: 1rem;     
    font-weight: 500;     
    color: white; 
}

 .google-btn {     
     width: 70%;     
     background-color: #ffffff;     
     color: #444;     
     border: none;     
     border-radius: 25px;
     padding: 0.9rem 1rem;     
     font-size: 1rem;     
     font-weight: 600;     
     cursor: pointer;     
     display: flex;     
     align-items: center;     
     justify-content: center;     
     gap: 0.5rem;     
     transition: background 0.2s ease; 
 }   


 .google-btn:hover {     
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.7);
 }

