.recktangle{
    position:relative;
    z-index:1;    
    background-color: rgba(184, 241, 255, 0.5);
    border-radius:40px;
    border: none;


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:20px;
    width:40%;
}

.recktangle p{
    background-color: transparent;
    font-weight: bold;
    color:white;
    font-size:190%;
}

.recktangle form{
    background-color: transparent;
    width: 50%;
}



.register-auth-choice {   
    display: flex;   
    flex-direction: column;   
    align-items: center;   
    width: 100%;   
    background-color: transparent; 
}


.submit-btn{
    background-color: rgba(79, 48, 255, 0.7);
    border-radius: 30%;
    border: none;
    padding:5%;
    margin-top: 5%;
    color: white;
    font-size:larger; 
}


.separator {     
    display: flex;     
    align-items: center;     
    justify-content: center;     
    text-align: center;     
    width: 80%;
    color: white;     
    opacity: 0.8;     
    margin: 2rem 0 1.5rem;     
    position: relative;
}


.separator::before, 
.separator::after {     
    content: "";     
    flex: 1;     
    height: 1px;     
    background: rgba(255, 255, 255, 0.4); 
}


.separator span {     
    margin: 0 1rem;     
    font-size: 1rem;     
    font-weight: 500;     
    color: white; 
}

 .google-btn {     
     width: 70%;     
     background-color: #ffffff;     
     color: #444;     
     border: none;     
     border-radius: 25px;
     padding: 0.9rem 1rem;     
     font-size: 1rem;     
     font-weight: 600;     
     cursor: pointer;     
     display: flex;     
     align-items: center;     
     justify-content: center;     
     gap: 0.5rem;     
     transition: background 0.2s ease; 
 }   


 .google-btn:hover {     
    /* Ja nemam ukusa za boje neka neko ko ima uštela */
    background-color: rgb(0, 0, 0);
 }

