.popuni input {
    align-items: center;
    background-color: transparent;
    display: flex;
    color: rgb(0, 0, 0);

    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
    margin-top: 5%;
    padding: 5%;
    border: none;
}

.popuni input:focus {
    box-shadow: 0 0 9px rgba(245, 245, 245, 0.6);
    outline: none;
    background-color: #f0f8ffd7;
}

.registerAuthChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.registerStepContent p {
    font-weight: 400;
    font-size: 120%;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: rgba(49, 49, 49, 0.6);
}

.rectangle {
    position: relative;
}

.upisi {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.regBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transition: transform 0.1s ease, box-shadow 0.1s ease;

    background-color: rgba(79, 48, 255, 0.7);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    font-size: 1.1rem;
    cursor: pointer;
}

.regBtn:active {
    transform: translateX(-50%) scale(0.9);
    box-shadow: 0 0 9px rgba(13, 13, 15, 0.7);
}

.infoMessage {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem !important;
}

.error {
    font-size: 1rem !important;
    margin-bottom: 0;
    margin-top: 5%;
    white-space: nowrap;
    color: #d8000c;
}